<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cfa60c2-3612-45eb-9655-a94e8b6f7d8e" Alias="Kontakt" Level="2">
  <Info>
    <Parent Key="a90a0a3b-cab3-4bd2-9e59-378231a8e5b3">Möbelrestaurering</Parent>
    <Path>/Mobelrestaurering/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2026-05-07T22:41:58</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="628308a1-5c3d-4f79-8da9-0c57c80b17a2">ContactPage</Template>
  </Info>
  <Properties>
    <adress>
      <Value><![CDATA[Follingbogatan 18]]></Value>
    </adress>
    <city>
      <Value><![CDATA[Stockholm]]></Value>
    </city>
    <contactTitle>
      <Value><![CDATA[Kontakta för en offert idag]]></Value>
    </contactTitle>
    <email>
      <Value><![CDATA[test@domain.se]]></Value>
    </email>
    <lineOne>
      <Value><![CDATA[Mån - Fre 09.00 - 18.00]]></Value>
    </lineOne>
    <lineThree>
      <Value><![CDATA[]]></Value>
    </lineThree>
    <lineTwo>
      <Value><![CDATA[Lör - Sön Stängt]]></Value>
    </lineTwo>
    <metaDescription>
      <Value><![CDATA[Kontakta Rolléns Möbelrestaurering för möbelrestaurering i Mölndal och Göteborg. Frågor, offertförfrågningar eller bara nyfiken? Hör av dig så hjälper jag dig gärna.]]></Value>
    </metaDescription>
    <phoneNumber>
      <Value><![CDATA[0735-555555]]></Value>
    </phoneNumber>
    <postal>
      <Value><![CDATA[16860]]></Value>
    </postal>
    <title>
      <Value><![CDATA[Kontakt]]></Value>
    </title>
  </Properties>
</Content>