<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa4ae2f8-a12c-481c-9a3f-1231d05ca4d6" Alias="Portfolio" Level="2">
  <Info>
    <Parent Key="a90a0a3b-cab3-4bd2-9e59-378231a8e5b3">Möbelrestaurering</Parent>
    <Path>/Mobelrestaurering/Portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioPage</ContentType>
    <CreateDate>2026-05-07T22:51:23</CreateDate>
    <NodeName Default="Portfolio" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="092f2f54-ab05-4aab-81fa-3e1f1361cb11">PortfolioPage</Template>
  </Info>
  <Properties>
    <callToAction>
      <Value><![CDATA[[
  {
    "name": "Kolla in v\u00E5r instagram",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.instagram.com/mobelbevaring/",
    "queryString": null
  }
]]]></Value>
    </callToAction>
    <images>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5c14d44e-74ac-4885-a0c5-4e4459562bc5",
      "key": "b9f8d7d9-cb69-4b87-b558-43518142deaa",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "N\u00E4r \u00E4r det dags att kontakta en restaurerare?"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEtt tydligt tecken \u00E4r n\u00E4r fogarna i en stol b\u00F6rjar sl\u00E4ppa. Den k\u00E4nns kanske svajig, knarrar eller r\u00F6r sig n\u00E4r du sitter.\u003C/p\u003E\u003Cp\u003EDet kan vara lockande att v\u00E4nta, men ju tidigare man \u00E5tg\u00E4rdar problemet, desto enklare (och billigare) blir det.\u003C/p\u003E\u003Cp\u003EI det h\u00E4r exemplet \u00E5tg\u00E4rdades problemen i r\u00E4tt tid.\u003C/p\u003E"
          }
        },
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "996d0d9a-4257-458c-9b50-d05484cd269d",
              "mediaKey": "5202e45d-2a9c-4df1-a4e6-4acd7f1ed03d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "alt",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alt 1"
        }
      ]
    },
    {
      "contentTypeKey": "5c14d44e-74ac-4885-a0c5-4e4459562bc5",
      "key": "6d33d986-0ea5-46dc-9ace-1ece51da017e",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Teak bord"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEtt vackert runt bord i teak kom in till verkstan med en tydlig fuktfl\u00E4ck i mitten, efter en kruka som f\u00E5tt st\u00E5 f\u00F6r l\u00E4nge.\u003C/p\u003E\u003Cp\u003EGenom lite restaureringsmagi och arbete \u00E4r fl\u00E4cken nu borta och bordet har f\u00E5tt en ny ytbehandling som \u00E5ter lyfter fram tr\u00E4ets djup och v\u00E4rme.\u003C/p\u003E"
          }
        },
        {
          "alias": "images",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dc702459-ea5d-48a8-9fd1-8876d2f985e3",
              "mediaKey": "27e4017e-edee-4412-bef9-df7ad2302212",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "dbc760a6-c781-448e-969f-65abce2c58be",
              "mediaKey": "936d8fdc-cfc3-4f4e-89ed-e9fbe946a012",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "edae15cb-926a-49f4-a99f-455cfdd02dc7",
              "mediaKey": "fd4e85b6-77a0-4609-85c3-65a9d73c88be",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b9f8d7d9-cb69-4b87-b558-43518142deaa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d33d986-0ea5-46dc-9ace-1ece51da017e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b9f8d7d9-cb69-4b87-b558-43518142deaa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6d33d986-0ea5-46dc-9ace-1ece51da017e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Se urval av restaurerade möbler – från slitna antika fynd till familjeklenoder. Rolléns Möbelrestaurering i Mölndal visar resultat i bild. Låt dig inspireras!]]></Value>
    </metaDescription>
    <title>
      <Value><![CDATA[Portfolio]]></Value>
    </title>
  </Properties>
</Content>