<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbefa422-725d-4f11-8b43-9f26c8b59e34" Alias="Tjänster" Level="2">
  <Info>
    <Parent Key="a90a0a3b-cab3-4bd2-9e59-378231a8e5b3">Möbelrestaurering</Parent>
    <Path>/Mobelrestaurering/Tjanster</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-05-07T22:53:36</CreateDate>
    <NodeName Default="Tjänster" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5c37ee9f-0db8-4141-9c9c-a25a8886c362">ServicePage</Template>
  </Info>
  <Properties>
    <callToAction>
      <Value><![CDATA[[
  {
    "name": "Kontakta mig f\u00F6r att veta mer om v\u00E5ra tj\u00E4nster",
    "target": null,
    "unique": null,
    "type": null,
    "udi": "umb://document/8cfa60c2361245eb9655a94e8b6f7d8e",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </callToAction>
    <metaDescription>
      <Value><![CDATA[Möbelrestaurering, ommålning, polering och klädsel i Mölndal nära Göteborg. Rolléns Möbelrestaurering erbjuder skräddarsydda lösningar för dina möbler. Begär offert idag!]]></Value>
    </metaDescription>
    <services>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "key": "f85f5263-6787-442f-ae6f-65a3515bca20",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lagning och limning"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Reparation av skador, sprickor och l\u00F6sa delar f\u00F6r att \u00E5terst\u00E4lla m\u00F6belns stabilitet och funktion."
        }
      ]
    },
    {
      "contentTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "key": "8b60834e-7606-4527-a8b8-3b4ac0be09e2",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bevarande av ytbehandling"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Skonsamt underh\u00E5ll av befintlig yta f\u00F6r att beh\u00E5lla m\u00F6belns \u00E5lder, karakt\u00E4r och originalk\u00E4nsla."
        }
      ]
    },
    {
      "contentTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "key": "ab09ad79-ffa8-4b25-9058-4a542a0d0e76",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Retuschering och traditonella ytbehandlingar"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Finslipning av sm\u00E5 skador, f\u00E4rgjustering och anv\u00E4ndning av klassiska tekniker s\u00E5som schellackpolering."
        }
      ]
    },
    {
      "contentTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "key": "5843d6c2-154a-4410-a34f-5cda8fea8572",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Reng\u00F6ring, uppfr\u00E4schning och v\u00E5rd"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Reng\u00F6ring och omv\u00E5rdnad av tr\u00E4, fan\u00E9r och beslag f\u00F6r att fr\u00E4scha upp utan att f\u00F6r\u00E4ndra originalet."
        }
      ]
    },
    {
      "contentTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "key": "b10a7181-aaae-474e-b52a-854e9c8e8cd9",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u00D6vriga tr\u00E4f\u00F6rem\u00E5l"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Restaurering och v\u00E5rd \u00E4ven av andra objekt i tr\u00E4, inte enbart m\u00F6bler."
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f85f5263-6787-442f-ae6f-65a3515bca20",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8b60834e-7606-4527-a8b8-3b4ac0be09e2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ab09ad79-ffa8-4b25-9058-4a542a0d0e76",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5843d6c2-154a-4410-a34f-5cda8fea8572",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b10a7181-aaae-474e-b52a-854e9c8e8cd9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f85f5263-6787-442f-ae6f-65a3515bca20",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8b60834e-7606-4527-a8b8-3b4ac0be09e2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ab09ad79-ffa8-4b25-9058-4a542a0d0e76",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5843d6c2-154a-4410-a34f-5cda8fea8572",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b10a7181-aaae-474e-b52a-854e9c8e8cd9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </services>
    <title>
      <Value><![CDATA[Tjänster]]></Value>
    </title>
  </Properties>
</Content>