<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40484d3a-3192-46eb-96c6-06da101f0055" Alias="DT - DropDown - SocialMedia" Level="3">
  <Info>
    <Name>DT - DropDown - SocialMedia</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
    <Folder>Resto+DTs/Random</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Linkedin",
    "Youtube"
  ]
}]]></Config>
</DataType>