<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a2b7eac-d4ac-4363-aa36-4223a90a355b" Alias="DT - Link - Single" Level="3">
  <Info>
    <Name>DT - Link - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultiUrlPicker</EditorUIAlias>
    <Folder>Resto+DTs/Random</Folder>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>