<?xml version="1.0" encoding="utf-8"?>
<DataType Key="563716ad-ce3c-40df-86c5-b53d1a4a3e63" Alias="DT - RichText - Minimal" Level="3">
  <Info>
    <Name>DT - RichText - Minimal</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Resto+DTs/Random</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "Umb.Tiptap.CodeBlock",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.Bold"
  ],
  "maxImageSize": 500,
  "overlaySize": "medium",
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.SourceEditor"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold"
      ]
    ]
  ]
}]]></Config>
</DataType>