<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f2ce7f7-b71d-4ef8-b1a6-a87e999dc24f" Alias="DT - String - 50" Level="3">
  <Info>
    <Name>DT - String - 50</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Resto+DTs/Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 50
}]]></Config>
</DataType>