<?xml version="1.0" encoding="utf-8"?>
<DataType Key="29e07610-07ab-4a6c-aaf8-c28a62d79592" Alias="DT - String - 20" Level="3">
  <Info>
    <Name>DT - String - 20</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Resto+DTs/Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 20
}]]></Config>
</DataType>