<?xml version="1.0" encoding="utf-8"?>
<DataType Key="058a68ac-9406-4c08-9dde-e9ce56ca279e" Alias="DT - String - 200" Level="3">
  <Info>
    <Name>DT - String - 200</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Resto+DTs/Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 200
}]]></Config>
</DataType>