<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8138484c-0238-4e64-9be9-cc481fb4679f" Alias="DT - String - 100" Level="3">
  <Info>
    <Name>DT - String - 100</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Resto+DTs/Strings</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 100
}]]></Config>
</DataType>