<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d32e777-f095-4e95-af54-e6807c3954b7" Alias="DT - TextArea - 400" Level="3">
  <Info>
    <Name>DT - TextArea - 400</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>Resto+DTs/Random</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 400,
  "rows": 10
}]]></Config>
</DataType>