<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8d59821-b7b4-42f7-a10b-4bfe36bf5f1a" Alias="DT - Toggle - FalseDefault" Level="3">
  <Info>
    <Name>DT - Toggle - FalseDefault</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
    <Folder>Resto+DTs/Random</Folder>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "False",
  "labelOn": "True"
}]]></Config>
</DataType>