<?xml version="1.0" encoding="utf-8"?>
<DataType Key="99020453-fa0f-486e-bdd9-53a2fb5e8a48" Alias="Portfolio Page - Images - Block List" Level="1">
  <Info>
    <Name>Portfolio Page - Images - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5c14d44e-74ac-4885-a0c5-4e4459562bc5",
      "label": "{umbValue: title}"
    }
  ],
  "validationLimit": {
    "max": 10
  }
}]]></Config>
</DataType>