<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d32e3bad-d933-4ea3-a1a4-dd710c3afe6b" Alias="Service Page - Services - Block List" Level="1">
  <Info>
    <Name>Service Page - Services - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "af34977f-9135-4a4a-b059-8df0a84274d1",
      "label": "{umbValue: title}"
    }
  ],
  "validationLimit": {
    "max": 20
  }
}]]></Config>
</DataType>