<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0444f7a5-05de-4bf8-b130-0ac4bc415a76" Alias="Website Settings CMP - Social Media Items - Block List" Level="1">
  <Info>
    <Name>Website Settings CMP - Social Media Items - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1a6b4e96-2030-4a7d-a11c-4bc1cbbcc4da",
      "label": "{umbValue: socialMedia}"
    }
  ],
  "validationLimit": {
    "max": 4
  }
}]]></Config>
</DataType>