
.section_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 2rem;
    gap: 1rem;
}
.about-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 2rem 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    background: var(--clr-surface);
}
.about-card-image-side {
    display: block;
    width: 50%;
    flex-shrink: 0;
}
    .about-card-image-side img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
.about-card-text-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

@media (max-width: 768px) {
    .section_about {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background: var(--clr-background);
        margin: 1rem 0 1rem 0;
        padding: 0rem;
        padding-bottom: 2rem;
        box-shadow: none;
    }
    .about-card {
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
        background: var(--clr-surface);
    }
    .about-card-image-side {
        display: flex;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }

        .about-card-image-side img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .about-card-text-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}