
.section_service {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.section_service-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--clr-surface);
    box-shadow: var(--shadow);
    margin: 2rem 0;
    padding: 2rem;
}
.section_service-item {
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .section_service {
        padding: 0;
        gap: 1rem;
        box-shadow: none;
        background: var(--clr-background);
        margin: 1rem 0 1rem 0;
    }
    .section_service-items {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        font-size: 0.75rem;
    }
    .section_service-item {
        align-items: center;
        justify-content: center;
        padding: 0;
    }
        .section_service-item h2 {
            font-size: 1.2rem;
        }
        .section_service-item p {
            font-size: 1rem;
        }
}