<?xml version="1.0" encoding="utf-8"?>
<Media Key="5202e45d-2a9c-4df1-a4e6-4acd7f1ed03d" Alias="IMG_3820-kopiera-1024x683.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG_3820Kopiera1024x683png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T22:40:03</CreateDate>
    <NodeName Default="IMG_3820-kopiera-1024x683.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0ixejzhv/img_3820-kopiera-1024x683.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>