<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8fae439-73f7-4281-80c4-8b9f6bea8a86" Alias="Screenshot 2026-05-04 at 20-52-45 Om oss — Rolléns Möbelbevaring - Möbelrestaurering i Göteborg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20260504At205245OmOssRollensMobelbevaringMobelrestaureringIGoteborgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T22:43:23</CreateDate>
    <NodeName Default="Screenshot 2026-05-04 at 20-52-45 Om oss — Rolléns Möbelbevaring - Möbelrestaurering i Göteborg.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wyxlyxu4/screenshot-2026-05-04-at-20-52-45-om-oss-roll\u00E9ns-mobelbevaring-mobelrestaurering-i-goteborg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>