<?xml version="1.0" encoding="utf-8"?>
<Media Key="27e4017e-edee-4412-bef9-df7ad2302212" Alias="teeest111-683x1024.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teeest111683x1024jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-05-07T22:51:17</CreateDate>
    <NodeName Default="teeest111-683x1024.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4hflfemh/teeest111-683x1024.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>