<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1382429-938d-490a-87f0-1203c3d15e94" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ef557c4e-a7f6-4fb6-a379-a000be769733">baseCmp</Composition>
      <Composition Key="c1e63ef8-e84f-4b90-a13f-1072f9d394bf">websiteSettingsCmp</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cf935524-6991-4be6-80c0-c7b7dbdef746">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e43bfef5-3508-4302-99e0-3bf8bf0770a7" SortOrder="0">pageNotFound</ContentType>
    <ContentType Key="4d5cb47b-5b83-4574-8a29-65d138c9e1d8" SortOrder="1">sitemap</ContentType>
    <ContentType Key="943182d3-6ddf-4dcf-bd3a-66ecea485cab" SortOrder="2">aboutPage</ContentType>
    <ContentType Key="1dc67696-0944-4cf0-9630-0a90c5f48838" SortOrder="3">contactPage</ContentType>
    <ContentType Key="336b67ca-7277-49d4-b883-8b9c7583fbfb" SortOrder="4">portfolioPage</ContentType>
    <ContentType Key="104225b0-50f0-41a5-a4a1-27d7abeb053a" SortOrder="5">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c1c9ed72-2851-4080-b2b9-1ec6d5f771a9</Key>
      <Name>Alt</Name>
      <Alias>alt</Alias>
      <Definition>8138484c-0238-4e64-9be9-cc481fb4679f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e58d672-f6d9-4a6d-833e-c3f8f27e84d4</Key>
      <Name>Call To Action</Name>
      <Alias>callToAction</Alias>
      <Definition>1a2b7eac-d4ac-4363-aa36-4223a90a355b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>256f4450-39b5-4cb3-a97f-d1c0a6329cf1</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/image">Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7a67c9d3-a38d-46c7-8f17-7f49226f4d32</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>8138484c-0238-4e64-9be9-cc481fb4679f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8bd68c6f-3cb3-4075-ba19-ecee71e64e81</Key>
      <Caption>Image</Caption>
      <Alias>content/image</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b48fb618-1427-47d7-b0e1-a435d1cf80ca</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>