<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e43bfef5-3508-4302-99e0-3bf8bf0770a7" Alias="pageNotFound" Level="2">
  <Info>
    <Name>Page Not Found</Name>
    <Icon>icon-application-error color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Error+Pages</Folder>
    <Compositions>
      <Composition Key="ef557c4e-a7f6-4fb6-a379-a000be769733">baseCmp</Composition>
    </Compositions>
    <DefaultTemplate>PageNotFound</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a5c9f4a3-1120-4828-9cbb-26e2ca0b21bd">PageNotFound</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2415b165-a10d-4911-908f-888722f0ea9f</Key>
      <Name>Call To Action</Name>
      <Alias>callToAction</Alias>
      <Definition>1a2b7eac-d4ac-4363-aa36-4223a90a355b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e5b2346-ba45-40a8-beaf-d3fb2981d457</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>8138484c-0238-4e64-9be9-cc481fb4679f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b86716f0-9060-4a41-a762-9297b709c56d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>