<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="336b67ca-7277-49d4-b883-8b9c7583fbfb" Alias="portfolioPage" Level="2">
  <Info>
    <Name>Portfolio Page</Name>
    <Icon>icon-briefcase color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ef557c4e-a7f6-4fb6-a379-a000be769733">baseCmp</Composition>
    </Compositions>
    <DefaultTemplate>PortfolioPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="092f2f54-ab05-4aab-81fa-3e1f1361cb11">PortfolioPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c77dba1c-d98d-4fbe-b190-b8f0fb27e407</Key>
      <Name>Call To Action</Name>
      <Alias>callToAction</Alias>
      <Definition>1a2b7eac-d4ac-4363-aa36-4223a90a355b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f0c2aeab-5231-4662-aa63-dd1b0130ed57</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>99020453-fa0f-486e-bdd9-53a2fb5e8a48</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da63e938-1a3c-4904-99b4-38ac16c4bf54</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>8138484c-0238-4e64-9be9-cc481fb4679f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40c725c1-1be5-4d0f-9efd-176ee1ada02f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>