<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4d5cb47b-5b83-4574-8a29-65d138c9e1d8" Alias="sitemap" Level="2">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-code-xml color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Meta+Things</Folder>
    <Compositions />
    <DefaultTemplate>Sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="19454aa7-fbf4-4a44-b547-65518d77fe03">Sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>